/* Global --------------------------  */

.main {
  padding: 2rem 0;
  margin: 2rem auto 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
}

/* Swiper ----- */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #fff;
}

@media (min-width: 768px) {
  .main {
    padding: 4rem 0;
  }
}
/* Homepage--------------------------  */

.pageContent {
  width: 100%;
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header-image {
  /* overflow: hidden; */
  width: 100%;
}

.homepage .swiper-container {
  height: 20rem;
  margin-bottom: 1rem;
}

.homepage .swiper-container > div {
  /* height: 100%; */
}

.homepage .swiper-container > div img {
  object-position: center center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.header-image img {
  max-height: 650px;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.main--about {
  /* text-align: left; */
  width: 90%;
  max-width: 1200px;
}

.main--about_person {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.main--about_bio {
  text-align: center;
}

.main--about_person > div {
  width: 100%;
}

.main--about_person:last-child {
  /* flex-direction: row-reverse; */
  text-align: right;
}

.main--about_image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main--about_image-wrapper {
  aspect-ratio: 1 / 1;
  width: 80%;
}

.main--about_image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 5px 5px 5px rgb(34, 34, 34);
}

.main--about_person:last-child .main--about_image-container img {
  box-shadow: -5px 5px 5px rgb(34, 34, 34);
}

@media (min-width: 768px) {
  .main--about_person {
    flex-direction: row;
    margin-bottom: 0;
  }
  .main--about_person:last-child {
    flex-direction: row-reverse;
  }
  .main--about_person > div {
    width: 45%;
  }
  .main--about {
    text-align: left;
    /* width: 100%; */
  }
  .homepage .swiper-container {
    height: 40rem;
    margin-bottom: 2rem;
  }
  .main--about_image-wrapper {
    width: 100%;
  }
}
/* Stories --------------------------  */

.stories-page .swiper-container {
  /* height: 40rem; */
  /* margin-bottom: 2rem; */
  width: 80%;
  padding: 3rem 0;
}

.stories-page .swiper-container > div {
  /* height: 100%; */
}

.stories-page .swiper-container > div img {
  object-position: center center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.main--intro {
  margin-bottom: 2rem;
}
