.footer {
  /* height: 10rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  background: #cec9c9;
  padding: 1.5rem 0;
}

.footerContainer {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
}

.footerContainer > div {
  margin: 0 auto;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
}

.footerContainer div:first-child {
  flex-direction: column;
}

.socialIcons {
  display: flex;
  height: 2rem;
  width: 30%;
}

.socialIcons a {
  margin: 0px 0.25rem;
}

.socialIcons a img {
  max-height: 100%;
  height: 2rem;
}

.footerInformation {
  width: 30%;
}

.footerInformation p {
  margin-bottom: 0.2rem;
}
